/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Oxygen", sans-serif;
  color: #5e5e5e;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Oxygen", sans-serif;
  color: #fbb403;
}
h1 {
  font-size: 10rem;
  font-weight: bolder;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
a {
  text-decoration: none;
  color: #fbb403;
}
a:visited {
  color: #fbb403;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}
.nav-content {
  max-width: 75%;
  margin: 0 auto;
  padding: 3% 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .nav-content {
    padding: 2% 2%;
    display: block;
  }
}
.nav-content nav {
  display: flex;
  margin: 0 2% 0 0;
  padding: 1% 0;
}
@media (max-width:500px) {
  .nav-content nav {
    display: flex;
    padding: 2% 0;
    margin: 0 0 0 42%;
  }
}
.nav-content nav a {
  padding: 0px 15px;
  font-size: 2rem;
  color: #faf6f6;
}
@media (max-width:500px) {
  .nav-content nav a {
    font-size: 1.5rem;
  }
}
footer {
  color: #faf6f6;
  background: url("../images/s1.jpg");
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width:500px) {
  footer p {
    font-size: 1.5rem;
  }
}
body {
  overflow-x: hidden;
}
.home {
  width: 100%;
}
@media (max-width:500px) {
  .home {
    margin: auto;
    width: 98%;
  }
}
.home .parallax {
  background-image: url("../images/s1.jpg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width:500px) {
  .home .parallax .first-section {
    height: 100%;
    background-repeat: no-repeat;
  }
}
.home .parallax .first-section .slide-in-fwd-left {
  margin: 7% 0 0 15%;
}
@media (max-width:500px) {
  .home .parallax .first-section .slide-in-fwd-left {
    font-size: 2.5rem;
    margin: 10% 0 0 18%;
  }
}
.home .parallax .first-section .slide-in-fwd-right {
  margin: 0 0 0 48%;
}
@media (max-width:500px) {
  .home .parallax .first-section .slide-in-fwd-right {
    font-size: 2.5rem;
  }
}
.home .parallax .first-section .btn {
  color: black;
  background-color: #fbb403;
  padding: 15px 0;
  width: 12%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  margin: 6% auto;
}
@media (max-width:500px) {
  .home .parallax .first-section .btn {
    padding: 5px 0;
  }
}
@media (max-width:500px) {
  .home .parallax .first-section .btn {
    color: black;
    background-color: #fbb403;
    padding: 15px 0;
    width: 12%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 3% auto;
  }
}
@media (max-width:500px) and (max-width:500px) {
  .home .parallax .first-section .btn {
    padding: 5px 0;
  }
}
.home .parallax .first-section .btn a {
  color: black;
}
.home .second-section {
  background-color: #6fc7f0;
  background-size: 100%;
  height: 101vh;
}
@media (max-width:500px) {
  .home .second-section {
    height: 100%;
  }
}
.home .second-section .icon {
  margin: 0 75px 30px 85px;
  width: 120px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background: #6fc7f0;
}
@media (max-width:500px) {
  .home .second-section .icon {
    width: 30%;
    margin: auto 35%;
    border-radius: 15%;
  }
}
.home .second-section .three-column {
  display: flex;
  justify-content: space-evenly;
  padding: 12% 0 15% 0;
}
@media (max-width:500px) {
  .home .second-section .three-column {
    display: block;
    justify-content: center;
  }
}
.home .second-section .three-column .main-block {
  display: block;
  border: 3px dashed #5e5e5e;
  padding: 1.5% 1.5%;
  background: #faf6f6;
}
@media (max-width:500px) {
  .home .second-section .three-column .main-block {
    width: 75%;
    margin: 2% auto;
    padding: 1% 1%;
    border: 1.5px dashed #5e5e5e;
  }
}
.home .second-section .three-column .text-block {
  width: 300px;
  font-size: 3rem;
  text-align: center;
}
@media (max-width:500px) {
  .home .second-section .three-column .text-block {
    width: 100%;
    font-size: 1.5rem;
  }
}
.home .third-section {
  background: url("../images/s3.jpg");
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .home .third-section {
    height: 100%;
    padding: 12% 0;
  }
}
.home .third-section .third-text {
  width: 1000px;
}
@media (max-width:500px) {
  .home .third-section .third-text {
    width: 75%;
  }
}
.home .third-section .third-text p {
  background: rgba(1, 1, 1, 0.3);
  margin: 18% 0;
  padding: 3% 3%;
  font-size: 2.4rem;
  color: #faf6f6;
  text-align: center;
  border: 2px dashed black;
}
@media (max-width:500px) {
  .home .third-section .third-text p {
    margin: 3% auto;
    font-size: 1.4rem;
  }
}
.home .third-section .third-text p a {
  font-size: 2.5rem;
}
@media (max-width:500px) {
  .home .third-section .third-text p a {
    font-size: 2rem;
  }
}
.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  overflow: hidden;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-20 12:26:32
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-fwd-left {
  -webkit-animation: slide-in-fwd-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  animation: slide-in-fwd-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.6s both;
  overflow: hidden;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-20 14:6:43
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-fwd-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-left {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(-1000px);
    transform: translateZ(-1400px) translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.slide-in-fwd-right {
  -webkit-animation: slide-in-fwd-right 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s both;
  animation: slide-in-fwd-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.6s both;
  overflow: hidden;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-20 14:8:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-fwd-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-right {
  0% {
    -webkit-transform: translateZ(-1400px) translateX(1000px);
    transform: translateZ(-1400px) translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
}
.roll-in-blurred-left {
  -webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.6s both;
  animation: roll-in-blurred-left 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.6s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-5-21 10:44:34
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) rotate(-720deg);
    transform: translateX(-1000px) rotate(-720deg);
    -webkit-filter: blur(50px);
    filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.about .about-first-section {
  height: 100vh;
  background: url("../images/aboutbg.jpg");
  background-size: 100%;
}
@media (max-width:500px) {
  .about .about-first-section {
    height: 100%;
    background: #5e5e5e;
    background-repeat: no-repeat;
  }
}
.about .about-first-section .tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:500px) {
  .about .about-first-section .tabs {
    margin: 10% auto;
  }
}
.about .about-first-section .tabs .title {
  font-size: 3rem;
  padding: 0 0 25px 0;
  color: #faf6f6;
}
@media (max-width:500px) {
  .about .about-first-section .tabs .title {
    font-size: 2rem;
  }
}
.about .about-first-section .tabs .topics {
  display: flex;
}
@media (max-width:500px) {
  .about .about-first-section .tabs .topics {
    display: block;
  }
}
.about .about-first-section .tabs .topics .tab {
  background: rgba(255, 255, 255, 0.2);
  margin: 0 5px;
  padding: 4px 15px;
  font-size: 2rem;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
@media (max-width:500px) {
  .about .about-first-section .tabs .topics .tab {
    margin: 2% auto;
    font-size: 1.5rem;
  }
}
.about .about-first-section .tabs .topics .active-tab {
  text-decoration: underline;
}
.about .about-first-section .cards-container {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .about .about-first-section .cards-container {
    display: block;
  }
}
.about .about-first-section .card {
  padding: 2% 2%;
}
.about .about-first-section .card .name {
  text-align: center;
}
.about .about-first-section .card .name h3 {
  font-size: 2rem;
}
@media (max-width:500px) {
  .about .about-first-section .card .name h3 {
    font-size: 1.8rem;
  }
}
.about .about-first-section .card .img-container {
  background-color: #fbb403;
  margin: 2% 0 0 0;
}
@media (max-width:500px) {
  .about .about-first-section .card .img-container {
    width: 60%;
    margin: 0 auto;
  }
}
.about .about-first-section .card .img-container img {
  width: 300px;
  padding: 3% 3%;
}
@media (max-width:500px) {
  .about .about-first-section .card .img-container img {
    width: 100%;
  }
}
