.about {
  .about-first-section {
    height: 100vh;
    background: url("../images/aboutbg.jpg");
    background-size: 1400px;

    .tabs {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .topics {
      .title {
        font-size: 2rem;
      }
      .tab {
        margin: 0 5px;
        padding: 2px 10px;
        font-size: 2rem;
        color: black;
        cursor: pointer;
      }
      .active-tab {
        text-decoration: underline;
      }
    }
  }
}
