.about {
  .about-first-section {
    height: 100vh;
    background: url("../images/aboutbg.jpg");
    background-size: 100%;

    .tabs {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 3rem;
        padding: 0 0 25px 0;
        color: @white;
      }
      .topics {
        display: flex;

        .tab {
          background: rgba(255, 255, 255, 0.2);
          margin: 0 5px;
          padding: 4px 15px;
          font-size: 2rem;
          border: 1px solid black;
          color: black;
          cursor: pointer;
        }
        .active-tab {
          text-decoration: underline;
        }
      }
    }
    .cards-container {
      display: flex;
      justify-content: center;
    }
    .card {
      padding: 2% 2%;

      .name {
        font-size: 2rem;
        text-align: center;
      }
      .img-container {
        background-color: @accent-yellow;
        margin: 2% 0 0 0;
        img {
          width: 300px;
          padding: 3% 3%;
        }
      }
    }
  }
}
