.cards-container {
  display: flex;
}
.card {
  width: 25%;
  .name {
    font-size: 25px;
  }
  .img-container {
    background-color: @accent-yellow;
    img {
      width: 200px;
      padding: 10px 10px;
    }
  }
}
